.formSize tr{
    height:35px;
}
.selectOneMenu{
    width: 200px;
}


.tooltipss {
    position: absolute;
    color: #FFFFFF;
    background: #000000;

    line-height: 30px;
    text-align: center;
    border-radius: 6px;


    position: absolute;

    margin-left: -8px;

    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

    visibility: visible;
    opacity: 0.8;
    bottom: 30px;

    z-index: 999;
}

.scroll {

    width: 630px;
    height:380px;
    overflow: scroll;
}

.messageListScroll {

    width: 250px;
    height:650px;
    overflow: scroll;
}


.detailColumnSpace{
    height: 50px;
}